*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
}


.container{
    margin-top: 20px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.login{
    padding: 50px;
    height: max-content;
    border: none;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#bgimg{

    width: 40%;
    
}

form{
    margin-bottom: 7px;
}

.f_pwd{
    text-align: end;
}
a{
    text-decoration: none;
    color: black;
}
.forget_pwd{
    font-size: small;

}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
    border-radius: 5px;
    width: 105%;
    padding: 10px 0;
}

.input{
    border-radius: 5px;
    font-size: 12px;
    padding-left: 10px;
    margin-top: 3px;
    width: 100%;
    height: 30px;
    outline: none;
}


.remember{
    font-size: small;
    display: flex;
    align-items: center;
}

.btn:hover{
    background-color: gray;
}

