

.round1-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:100%;;
    height : 60vh;
    transition: all 1s ease-in-out;
}




.thanosCon{
    display: inline-flex;
    height: 100%;
    width: 30%;
}

.heroesCon{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 0%;
    flex-direction: column;

}

.heroesCon > div {

    height: 50%;

}

@keyframes loki_killed {
    
    0%{
        transform: rotate(5deg);   
    }

    12%{
        transform: rotate(-5deg);   
    }

    25%{
        transform: rotate(5deg);   
    }
    39%{
        transform: rotate(-5deg);   
    }
    50%{
        transform: rotate(5deg);   
    }
    62%{
        transform: rotate(-5deg);   
    }
    75%{
        transform: rotate(5deg);   
    }
    87%{
        transform: rotate(-5deg);   
    }
    100%{
        transform: rotate(5deg);   
    }

}



